@charset "UTF-8";
/* CSS Document */
/* 292929,5B7876,8F9E8B,F2E6B6,412A22 */

body
{
	background-color:#f2e6b6;
	color:#292929;
	font-family:Verdana, Geneva, sans-serif;
}

h1
{
	background-color:#8F9E8A;
	color:#412A21;
	text-align:center;
	font-family:"Arial Black", Gadget, sans-serif;
}
